mmamule4/import-leads-into-salesforce/src/main/mule/import-leads-into-salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <sfdc:config doc:name="Salesforce" name="Salesforce" password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.user}">
        <!--Migration ERROR: The migration of 'sfdc' is not supported.-->
        <!--    For more information refer to:-->
        <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-connectors-->
        <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool.adoc#unsupported_connectors-->
        <sfdc:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE" />
    </sfdc:config>

    <flow name="CreateLeadsBatch">
        <!--Migration WARN: Threading profiles do not exist in Mule 4. You can replace them with a 'maxConcurrency' value in the flow.-->
        <!--    For more information refer to:-->
        <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-engine-->
        <file:listener doc:name="Poll CSV files" moveToDirectory="src/main/resources/output" directory="src/main/resources/input" applyPostActionWhenFailed="false" recursive="false" autoDelete="true">
            <!--Migration INFO: 'responseTimeout' was not being used by the file transport.-->
            <scheduling-strategy>
                <fixed-frequency frequency="10000" />
            </scheduling-strategy>
        </file:listener>

        <compatibility:attributes-to-inbound-properties>
            <!--Migration WARN: Expressions that query 'inboundProperties' from the message should instead query the message 'attributes'. Remove this component if there are no uses of 'inboundProperties' in expressions or components that rely on 'inboundProperties' (such as 'copy-properties').-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-mule-message#inbound-properties-are-now-attributes-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#inbound_properties-->
        </compatibility:attributes-to-inbound-properties>

        <dw:transform-message doc:name="Transform CSV to Maps">
            <!--Migration ERROR: Custom types defined in Studio 6 are not migrated to Studio 7.-->
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map {
	Company    : $.Company,
	Email      : $.Email,
	FirstName  : $.FirstName,
	LastName   : $.LastName
}]]></dw:set-payload>
        </dw:transform-message>

        <batch:job jobName="CreateLeadsBatch" maxFailedRecords="1000">
            <batch:process-records>
                <batch:step name="LeadExistsStep">
                    <enricher doc:name="Message Enricher" source="#[payload.size() &gt; 0]" target="#[recordVars['exists']]">
                        <sfdc:query config-ref="Salesforce" doc:name="Find Lead" query="dsql:SELECT Id FROM Lead WHERE Email = '#[payload[&quot;Email&quot;]]'">
                            <!--Migration ERROR: The migration of 'sfdc' is not supported.-->
                            <!--    For more information refer to:-->
                            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-connectors-->
                            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool.adoc#unsupported_connectors-->
                        </sfdc:query>
                    </enricher>
                </batch:step>
                <batch:step acceptExpression="#[mel:!recordVars['exists']]" name="LeadInsertStep">
                    <!--Migration WARN: The MEL expression could not be migrated to a DataWeave expression.-->
                    <!--    For more information refer to:-->
                    <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-mel-->
                    <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#mel_expressions-->
                    <!--        * https://blogs.mulesoft.com/dev/mule-dev/why-dataweave-main-expression-language-mule-4-->
                    <logger doc:name="Log the lead" level="INFO" message="#[&quot;Got Record $(payload), it exists $(vars['exists'])&quot;]" />
                    <batch:aggregator doc:name="Batch Commit" size="200">
                        <sfdc:create config-ref="Salesforce" doc:name="Insert Lead" type="Lead">
                            <!--Migration ERROR: The migration of 'sfdc' is not supported.-->
                            <!--    For more information refer to:-->
                            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-connectors-->
                            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool.adoc#unsupported_connectors-->
                            <sfdc:objects ref="#[payload]" />
                        </sfdc:create>
                    </batch:aggregator>
                </batch:step>
                <batch:step acceptPolicy="ONLY_FAILURES" name="LogFailuresStep">
                    <logger doc:name="Log Failure" level="INFO" message="#[&quot;Got Failure $(payload)&quot;]" />
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <logger doc:name="Log Results" level="INFO" message="#[&quot;$(payload.loadedRecords) Loaded Records $(payload.failedRecords) Failed Records&quot;]" />
            </batch:on-complete>
        </batch:job>

        <compatibility:outbound-properties-to-var>
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:outbound-properties-to-var>

    </flow>

</mule>
